<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body class="grey-bg">

  <%- include('nav.ejs') %>

  <div class="white-bg">
  <% postList.forEach((list)=>{ %>

    <div class="list-box">
      <h4><%= list.title %></h4>
      <p><%= list.content %></p>
    </div>

  <% }) %>
  </div> 

</body>
</html>